//output:index.html

html
  head
    title
      | The Brief Bot
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/devices.css')
  body
    header.header
      .container-lrg
        .col-12.spread
          div
            a.logo
              | Launchaco
          div
            a.nav-link(href='#')
              | Twitter
            a.nav-link(href='#')
              | Facebook
      .container-lrg.flex
        .col-6.centervertical
          h1.heading
            | Brief Your Clients Faster With a Bot
          h2.paragraph
            | We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.
          .ctas
            input.ctas-input(type='text', placeholder='Your Email Address')
            button.ctas-button
              | Sign Up
        .col-6.sidedevices
          .iphoneipad
            .iphone
              .mask
                img.mask-img(src='img/mobileapp.png')
            .ipad
              .mask
                img.mask-img(src='img/webapp.svg')
    .feature5
      .container-sml.text-center
        .col-12
          h3.heading
            | Brilliant Domain Names.
      .container-lrg.flex
        .col-5.centervertical
          .steps
            .emoji
              b
                | 💁
            h3.subheading
              | Instant Handles
            p.paragraph
              | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          .steps
            .emoji
              b
                | 🤖
            h3.subheading
              | Gorgeous Logotypes
            p.paragraph
              | Naming your brand has never been soooo easy! With Launchaco you can instantly search for twitter, facebook, medium, and instagram handles.
          .steps
            .emoji
              b
                | 📋
            h3.subheading
              | Insanely Fast
            p.paragraph
              | We've hand travelled the depths of the internet to bring you gorgeous logotypes. Featuring the beautiful fonts of Connary Fagen.
        .col-1
        .col-6
          .sidedevices
            .iphoneipad2
              .iphone
                .mask
                  img.mask-img(src='img/mobileapp.png')
              .ipad
                .mask
                  img.mask-img(src='img/webapp.svg')
    .socialproof
      .container-lrg
        .flex
          .col-6
            h4.subheading
              | "What a time saver for startup founders...this can be one of the most awful and creative sinkholes that a team goes through... Bravo for making this hellish process a little better."
            p.paragraph
              | Sean Howell - CEO @ Hornetapp
          .col-6.logos.flex
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
            img.col-4(src='img/launchacologo.svg')
    .footer
      .container-sml.flex.text-center
        .col-12
          h3.heading
            | Instantly search domains, handles and logotypes.
          .ctas
            a.ctas-button(href='')
              | Sign Up
      .container-lrg.footer-nav.flex
        .col-3.vertical
          a.logo
            | Launchaco
          a.nav-link2
            | ©2016 Compute.Studio
        .col-3.vertical
          a.nav-link2
            | About
          a.nav-link2
            | Features
          a.nav-link2
            | Pricing
        .col-3.vertical
          a.nav-link2
            | Twitter
          a.nav-link2
            | Facebook
          a.nav-link2
            | Contact
        .col-3.vertical
          a.nav-link2
            | 123 Address lane #708, 90210, California, United States of America
